<html>
<head>
  <title><%= title %></title>
  <style>
    body { margin: 0; padding: 0; }
    .main {
      width: 800px;
      margin: 0 auto;
      border: 0px solid #ccc;
      padding: 0 20px 20px 20px;
    }
    h1 { margin: 25px 0; }
    h2,h3,h4 { margin: 5px 0; padding: 0; color: 880044; }
    h3 { color: 004488; }
    h4 { color: 888844; }
    ul { margin: 0; padding: 0; text-align: left; }
    li { margin: 0; padding: 0; text-align: left; }
     a { color: #4488ff; }
   sup { font-size: 0.8em; }
  </style>
  <link rel="stylesheet" href="notes.css" type="text/css">
</head>
<body>
<div class="main">
  <h1><%= title %></h1>
  <div class="notes">
<% notes.by_label_file.each do |label, per_file| %>
    <h2><%= label %></h2>
    <ol class="set <%= label.downcase %>">
<% per_file.each do |file, line_notes| %>
      <li><h3><a href="<%= file %>"><%= file %></a></h3><ol class="file" href="<%= file %>">
<% line_notes.sort!{ |a,b| a.line <=> b.line } %>
<% line_notes.each do |note| %>
        <li class="note <%= label.downcase %>" ref="<%= note.line %>">
          <%= h note.text %> <sup><a href="<%= note.link %>"><%= note.line %></a></sup>
        </li>
<% end %>
      </ol></li>
<% end %>
    </ol>
<% end %>
  </div>
</div>
</body>
</html>
