<html>
<head>
  <title><%= title %></title>
  <style>
    body { margin: 0; padding: 0; font-size: 0.8em; }
    .main {
      width: 800px;
      margin: 0 auto;
      border: 0px solid #ccc;
      padding: 0 20px 20px 20px;
    }
    h1 { margin: 25px 0; font-size: 3em; }
    h2,h3,h4 { margin: 5px 0; padding: 0; color: #444; }
    h2 { letter-spacing: 2px; border-top: 4px solid #ddd; padding: 5px 0; }
    ul { margin: 0; padding: 0; text-align: left; }
    li { margin: 0; padding: 0; text-align: left; }
     a { color: #4488ff; }
   sup { font-size: 0.8em; }
  </style>
  <link rel="stylesheet" href="notes.css" type="text/css">
</head>
<body>
<div class="main">
  <h1><%= title %></h1>
  <div class="notes">
    <ol>
<% notes.each do |note| %>
    <li class="note <%= note.label.downcase %>" ref="<%= note.line %>">
      <%= note.label %>: <%= h note.text %>
      <sup><a href="<%= note.url %>"><%= note.file %>: <%= note.line %></a></sup>
    </li>
<% end %>
    </ol>
  </div>
</div>
</body>
</html>
